<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Register Page</title>
</head>
<body>

<form method="post" action="{% url 'baankapp:register' %}">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br>

    <label for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password"><br>

    <input type="submit" value="Submit">
    <a href="{% url 'baankapp:login' %}">Login</a>
</form>

</body>
</html>
